<title>
  {{ user}}'s profile
</title>
<link rel='stylesheet' href='/public/stylesheets/profile.css' />
<div style="text-align: center" class="container">
  <div class='txt'>
    <h3 >{{ user.username }}</h3>  <small>Their email</small>
  </div>    
  <h3>Profile Info:</h3>
  <p>Their referral link : http://localhost:8000/register/rl{{ user.referralID}}</p>
</div>