<center>
    <title>Add post</title>
	<div class="container">
		<h1>Add new post</h1>
		<form method="POST" action="add-post" >
			<input type='text' name='title' placeholder='Title'/><br><br>
			<input type='title' style="height: 250px; width: 250px" name='content' placeholder='Content of your post'/><br><br>         
			<button type='submit' class="btn btn-primary pull-right" role="button" >Publish</button>
		</form>
		{{#if error }}
			<div class="alert alert-danger" style="width: 30%;">{{ error }}</div>
		{{/if}}
	</div>
<center>